/* base values for var */

:root {
	--size-small: 1rem;
	--size-legacySmall: 1.5rem;
	--size-mid: 2rem;
	--size-padding: 15px;
	--size-big: 3rem;
	--size-backdrop: 5px;
	--size-backdrop-negative: -5px;
}

/* gradient class */

.gradient {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.7),
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0)
	);
	height: 100vh;
}

/* blur effect */

.blur,
::after,
::before {
	pointer-events: none;
	position: absolute;
}

::before,
.blur {
	-webkit-filter: blur(8px);
	filter: blur(8px);
}

.yay::before {
	content: "LEIGH AND JULIAN";
}

em.bold::before {
	content: attr(data-text);
	opacity: 80%;
}

.title-main::before {
	content: attr(data-text);
}

.coll-main::after {
	background-image: linear-gradient(
		90deg,
		rgba(122, 212, 104, 0.025),
		rgba(122, 212, 104, 0)
	);
}

.coll-main-right::after {
	background-image: linear-gradient(
		270deg,
		rgba(122, 212, 104, 0.025),
		rgba(122, 212, 104, 0)
	);
}

.coll-main::after,
.coll-main::before,
.coll-main-right::after,
.coll-main-right::before {
	content: "";
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	z-index: -1;
	border-radius: var(--size-padding);
	padding: var(--size-backdrop);
	transform: translate(
		var(--size-backdrop-negative),
		var(--size-backdrop-negative)
	);
}

.coll-main::before,
.coll-main-right::before {
	padding: 15px;
	transform: translate(-12px, -12px);
}

.coll-main::before {
	background-image: linear-gradient(
		90deg,
		rgba(161, 209, 151, 0.25) 50%,
		rgba(161, 209, 151, 0)
	);
}

.coll-main-right::before {
	background-image: linear-gradient(
		270deg,
		rgba(161, 209, 151, 0.25) 50%,
		rgba(161, 209, 151, 0)
	);
}

.title-main-next::before {
	content: attr(data-text);
}

#and::before {
	content: "&";
	background-image: linear-gradient(
		90deg,
		rgb(248, 115, 166) 30%,
		rgb(111, 178, 253)
	);
	color: transparent;
	background-clip: text;
}

/* default sheets */

* {
	padding: 0px;
	margin: 0px;
	scroll-behavior: smooth;
}

/* backgrounds */

.background-first {
	background-image: url(Images/yay.png);
	z-index: -2;
}

.background-second {
	background-image: url(Images/background2.png);
}

.background-three {
	background-image: url(Images/background-three.jpg);
}

.background-first,
.background-second,
.background-three {
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* side text of homepage */

.hello {
	display: flex;
	height: 100%;
	position: absolute;
	align-items: center;
	pointer-events: none;
}

.yay {
	writing-mode: vertical-lr;
	margin-left: 45px;
	color: rgba(255, 255, 255, 0.164);
	position: inherit;
	font-size: var(--size-big);
}

/* navbar */

header {
	padding: 55px;
}

.navbar {
	width: 100%;
	display: flex;
}

.title {
	width: 50%;
	display: flex;
	justify-content: end;
}

.title a {
	color: white;
	font-size: var(--size-legacySmall);
	letter-spacing: 0.1rem;
	text-decoration: none;
}

.inner-navbar {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	width: 50%;
}

.inner-navbar a {
	color: white;
	font-size: var(--size-legacySmall);
	letter-spacing: 0.1rem;
	text-decoration: none;
}

.title a:active,
.inner-navbar a:active {
	transform: translateY(2px);
}

.links {
	transition: all 0.2s;
}

.links:hover {
	transform: translateY(-5px);
}

/* body */

main {
	max-width: 100%;
	color: white;
}

.home,
.home-three {
	gap: 1rem;
	display: flex;
	padding-left: 50px;
	padding-right: 50px;
}

.pink-heart {
	width: 32px;
	height: 32px;
	transform: translateY(5px);
}
.next-page:hover {
	transform: translate(5px, -5px);
}

.next-page:active {
	transform: translate(5px, 5px);
}

.inner-left {
	text-align: left;
}

.inner-right {
	text-align: right;
}

.left,
.left-three,
.right,
.right-three {
	height: 100%;
	text-align: center;
	font-size: 2em;
}
.next-page {
	padding: var(--size-padding);
	border-radius: var(--size-small);
	border: solid 5px rgb(221, 177, 241);
	cursor: pointer;
	width: fit-content;
	height: fit-content;
	background-color: rgb(248, 115, 166);
	color: white;
	text-shadow: -5px 5px rgba(223, 89, 140, 0.438);
	font-size: var(--size-legacySmall);
	transition: all 200ms;
	text-decoration: none;
	position: relative;
	z-index: 2;
}

.next-page::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(248, 115, 166);
	inset: 0;
	margin: auto;
	translate: -4%;
	z-index: -5;
	padding: 10px;
	border-radius: 15px;
	opacity: 50%;
	-webkit-filter: blur(8px);
	filter: blur(8px);
	position: absolute;
	pointer-events: none;
	opacity: 50%;
}

.button-housing {
	width: 100%;
	max-height: fit-content;
	justify-content: center;
	align-items: end;
	padding-top: 80px;
}

.button-housing,
.button-housing-second {
	display: flex;
}

.button-housing-second {
	justify-content: center;
}

.left,
.right {
	width: 50%;
}

.bold {
	color: rgb(248, 115, 166);
	text-decoration: underline rgb(248, 115, 166) 2px;
	font-weight: 700;
}

.title-right,
.title-left {
	font-size: var(--size-mid);
}
.text-right,
.text-left {
	font-size: var(--size-small);
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text {
	color: white;
	font-size: var(--size-legacySmall);
}

/* second part */

.title-main,
.title-main-next {
	font-size: 2.5rem;
}

.title-main {
	color: rgb(111, 178, 253);
	text-shadow: -5px 5px rgba(111, 165, 226, 0.404);
	text-align: center;
}

.text-main {
	font-size: var(--size-small);
	color: white;
	padding-right: 10%;
	line-break: auto;
	text-align: center;
	padding-left: 10%;
}

.bold {
	color: rgb(248, 115, 166);
	text-decoration: underline rgb(248, 115, 166) 2px;
	font-weight: 700;
}

/* collapsible main */

.coll-main,
.coll-main-right {
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	padding: var(--size-padding);
	border-radius: var(--size-padding);
	z-index: 1;
	transform: translate(var(--size-backdrop), var(--size-backdrop));
	width: 45%;
	margin-top: 4rem;
}

.bubble {
	width: 20px;
	height: 20px;
}

.coll-main {
	background-image: linear-gradient(
		90deg,
		rgba(123, 247, 133, 0.25),
		rgba(123, 247, 133, 0)
	);
}

.coll-main-right {
	background-image: linear-gradient(
		270deg,
		rgba(123, 247, 133, 0.25),
		rgba(123, 247, 133, 0)
	);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.collapsible {
	width: fit-content;
	padding: var(--size-padding);
	border-radius: var(--size-small);
	font-size: var(--size-small);
	border: solid 5px rgb(121, 187, 77);
	background-color: rgb(137, 240, 112);
	cursor: pointer;
	color: rgb(56, 50, 50);
	text-shadow: -5px 5px rgba(94, 204, 66, 0.61);
	z-index: 1;
	transition: all 200ms ease-out;
	margin-top: 1rem;
}

.container-main-text {
	width: 100%;
}

.section-us-main {
	display: flex;
	padding: 50px;
	flex-wrap: wrap;
	justify-content: space-between;
}

#playlist {
	border-radius: 12px;
	max-width: max-content;
	box-shadow: -5px 5px rgba(129, 238, 156, 0.288);
	overflow: hidden;
	border-radius: 12px;
	max-width: 28rem;
	box-shadow: -5px 5px rgba(129, 238, 156, 0.288);
	display: none;
}

.content {
	display: flex;
	justify-content: center;
}

/* active class will be added in JavaScript */

.active,
.collapsible:hover {
	background-color: rgb(137, 212, 87);
	transform: translate(5px, -5px);
}

#next-page {
	font-size: var(--size-small);
}

#next-page:hover {
	transform: translate(0.3125rem, -0.3125rem);
	border-color: rgb(248, 115, 166);
	background-color: rgb(221, 177, 241);
}

.button-housing-third {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem;
}

/* third part */

.title-wrap {
	display: flex;
	width: 100%;
	padding-top: 3.425rem;
	padding-bottom: 3.425rem;
}

.inner-title-wrap {
	width: 100%;
	padding-left: 3rem;
	padding-right: 3rem;
	display: flex;
	justify-content: space-evenly;
}

.title-main-next {
	color: rgb(248, 115, 166);
	width: fit-content;
	text-shadow: -5px 5px rgba(192, 82, 124, 0.404);
}

.section-us-main.three {
	width: 100%;
}

.bubble-big {
	width: 36px;
	height: 36px;
	transform: translateY(5px);
}

.right-three,
.left-three {
	width: 50%;
	justify-content: space-evenly;
}

#and {
	background-image: linear-gradient(
		90deg,
		rgb(248, 115, 166) 30%,
		rgb(111, 178, 253)
	);
	color: transparent;
	background-clip: text;
	width: 2.7rem;
}
